<?xml version="1.0"?>
<config>
    <modules>
        <Ermini_Inventorylog>
            <version>0.1.0</version>
        </Ermini_Inventorylog>
    </modules>
    <global>
        <models>
            <inventorylog>
                <class>Ermini_Inventorylog_Model</class>
                <resourceModel>inventorylog_resource</resourceModel>
            </inventorylog>
            <inventorylog_resource>
                <class>Ermini_Inventorylog_Model_Resource</class>
                <entities>
                    <inventory>
                        <table>ermini_inventorylog</table>
                    </inventory>
                </entities>
            </inventorylog_resource>
        </models>
        <blocks>
            <ermini_inventorylog>
                <class>Ermini_Inventorylog_Block</class>
            </ermini_inventorylog>
        </blocks>
        <helpers>
            <inventorylog>
                <class>Ermini_Inventorylog_Helper</class>
            </inventorylog>
        </helpers>
        <resources>
            <ermini_inventorylog_setup>
                <setup>
                    <module>Ermini_Inventorylog</module>
                    <class>Ermini_Inventorylog_Model_Resource_Setup</class>
                </setup>
            </ermini_inventorylog_setup>
        </resources>
        <events>
            <cataloginventory_stock_item_save_after>
                <observers>
                    <ermini_inventorylog>
                        <type>singleton</type>
                        <class>inventorylog/observer</class>
                        <method>saveInventoryAfter</method>
                    </ermini_inventorylog>
                </observers>
            </cataloginventory_stock_item_save_after>
            <sales_model_service_quote_submit_success>
                <observers>
                    <ermini_inventorylog>
                        <type>singleton</type>
                        <class>inventorylog/observer</class>
                        <method>reduceQuoteInventory</method>
                    </ermini_inventorylog>
                </observers>
            </sales_model_service_quote_submit_success>
        </events>
    </global>
    <!-- for testing purposes-->
    <frontend>
        <routers>
            <inventorylog>
                <use>standard</use>
                <args>
                    <module>Ermini_Inventorylog</module>
                    <frontName>inventorylog</frontName>
                </args>
            </inventorylog>
        </routers>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Ermini_Inventorylog>
                    <files>
                        <default>Ermini_Inventorylog.csv</default>
                    </files>
                </Ermini_Inventorylog>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ermini_inventorylog before="Mage_Adminhtml">Ermini_Inventorylog_Adminhtml</ermini_inventorylog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>